/*Employee Listing Page*/
section.section--center {
  max-width: 620px;
}
main > .page-content {
  padding: 48px 8px 8px;
}
/*section > header {
  align-items: center;
  display: flex;
  justify-content: center;
}*/
.mdl-card .mdl-card__title {
  padding: 0 16px;
}
.mdl-card .mdl-card__menu {
  padding: 2px 0;
}
.mdl-card .mdl-card__supporting-text {
  width: 100%;
  padding: 0px;
}
section > .mdl-card > .mdl-card__title{
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}
.mdl-list {
  padding: 0px;
  margin: 0px;
}
.mdl-list > li {
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);;
}