.mdl-layout {
  align-items: center;
  /*justify-content: center;*/
}
.mdl-layout__content {
  padding: 24px;
  flex: none;
}
.mdl-card .mdl-card__supporting-text {
    padding: 0 16px;
    width: 100%;
}